<!DOCTYPE html>
<html lang="en" ng-strict-di>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title><%= title %></title>

  <meta name="description" content="<%= description %>">
  <meta name="keywords" content="<%= keywords %>">
  <meta name="author" content="<%= author %>">

  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <!--

  Powered by:

  '||''''|
   ||  .   ... ...... ...... ..   ....  ....  ....
   ||''|    '|..'  ||'  ||||' ''.|...||||. ' ||. '
   ||        .|.   ||    |||    ||     . '|... '|..
  .||.....|.|  ||. ||...'.||.    '|...'|'..|'|'..|'
                   ||
                   ||

  using node.js version <%= node_version %>

  -->
